{% extends 'base.html.twig' %}

{% block title %}Acceuil TGYW{% endblock %}

{% block body %}
<div class="container-fluid mt-3">
    <div class="d-flex flex-column align-items-center mt-3 mb-3">
        <h1>Bienvenue sur La référence gaming sur PC</h1>
        <h3 class="mt-2 col-4">Toute les infos dont vous pourriez avoir besoin sur vos jeux préféré ! Ainsi que la possibilité de les acheter grâce a nos partenarias !</h3>
    </div>
    <aside class="d-flex flex-wrap">
        *INCLURE LES JEUX EN TENDANCE !*
    </aside>
</div>
{% endblock %}